@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
    --fuente1: "Roboto", sans-serif;
    --color-primario: rgb(92, 13, 68);
    --color-secundario: rgb(109, 50, 205);
    --color-terciario: rgb(247, 230, 243);
    --sombra-naranja: rgb(231, 131, 48);
}

html {
    font-size: 24px;
}

body {
    font-family: var(--fuente1);
    background: linear-gradient(45deg, rgb(250, 230, 230), rgb(230, 230, 250));
}

header {
    height: 13vh;
    background-color: rgb(250, 250, 250);
    position: fixed;
    border-radius: 8px;
    width: 100%;
}

section {
    width: 98vw;
    margin: 0 auto;
    padding-top: 15vh;
}

span {
    font-size: 1.1rem;
    font-weight: 900;
}

h1 {
    padding: 0;
    margin: 3vh 0;
    text-align: center;
    font-size: 1.8rem;
    text-shadow: 2px 2px 5px var(--color-secundario);
    font-weight: 900;
}

h1 span:nth-child(1) {
    font-size: 1.7rem;
    text-decoration: underline dotted;
    text-shadow: none;
}

h1 span:nth-child(2) {
    font-size: 1.7rem;
    text-decoration: underline wavy;
    text-shadow: none;
}

h1:hover {
    text-decoration: overline var(--color-primario);
    cursor: not-allowed;
}

h2 {
    text-align: center;
    margin: 3vh 0;
    font-size: 1.6rem;
    font-weight: 900;
}

h3 {
    font-size: 1.3rem;
    text-align: center;
    text-decoration: underline solid var(--color-secundario);
}
nav {
    text-align: center;
}

header ul {
    background-color: var(--color-primario);
    border-radius: 0 0 8px 8px;
    height: 6vh;
}

header ul li {
    display: inline-block;
    width: 15vw;
    padding: 4px;
    margin: 1.5vh auto;
    border-radius: 8px;
    font-weight: 700;
    line-height: 2;
}

li a {
    color: var(--color-terciario);
    font-size: 1.1rem;
    text-decoration: none;
    letter-spacing: 2px;
    line-height: 1.5rem;
    height: 3vh;
}

li a:hover {
    font-size: 1.2rem;
    text-decoration: underline 3px var(--color-secundario);
}

p {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5;
}

.textos {
    padding-top: 15vh;
}

.textos .align {
    border: 1px dotted rgb(5, 5, 5);
}

.textos .align p:nth-child(2) {
    text-align: center;
}

.textos .align p:nth-child(3) {
    text-align: left;
}

.textos .align p:nth-child(4) {
    text-align: right;
}

.textos .align p:nth-child(5) {
    text-align: justify;
}

.textos .deco p:nth-child(2) {
    text-decoration: dashed underline;
}

.textos .deco p:nth-child(3) {
    text-decoration: wavy overline;
}

.textos .deco p:nth-child(4) {
    text-decoration: line-through;
}

.textos .deco p:nth-child(5) {
    text-decoration: underline double;
}

.textos .transfor p:nth-child(2) {
    text-transform: lowercase;
}
.textos .transfor p:nth-child(3) {
    text-transform: uppercase;
}

.textos .transfor p:nth-child(4) {
    text-transform: capitalize;
}

.textos .transfor p:nth-child(5) {
    text-transform: none;
}

.textos .over p {
    width: 500px;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid var(--color-secundario);
}

.textos .over p:nth-child(2) {
    text-overflow: clip;
}

.textos .over p:nth-child(3) {
    text-overflow: ellipsis;
}

.textos .shadows p:nth-child(2) {
    text-shadow: 3px 3px 8px var(--sombra-naranja);
}
.textos .shadows p:nth-child(3) {
    text-shadow: 3px 3px var(--sombra-naranja);
}

.spacing .letter p:nth-child(2) {
    letter-spacing: -2px;
}

.spacing .letter p:nth-child(4) {
    letter-spacing: 0.2rem;
}

.spacing .letter p span {
    letter-spacing: normal;
}

.spacing .words p:nth-child(2) {
    word-spacing: 15px;
}

.spacing .words p:nth-child(3) {
    word-spacing: normal;
}

.spacing .words p:nth-child(4) {
    word-spacing: 2rem;
}

.wraps p {
    width: 25%;
    border: 1px solid var(--color-secundario);
}

.wraps p:nth-child(3) {
    word-wrap: normal;
}

.wraps p:nth-child(4) {
    word-wrap: break-word;
}

.lists {
    font-weight: 800;
}

h4 {
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
    text-decoration: underline solid var(--color-primario);
    font-style: oblique;
}
/* ol li {
    list-style: disc;
    list-style-type: upper-latin;
    list-style-type: lower-greek;
    list-style-image: url("https://mdn.mozillademos.org/files/11981/starsolid.gif");
    list-style: inside url("../img/start.png");
} */

.lists ol,
.lists ul {
    display: inline-block;
    margin-left: 45%;
    background-color: bisque;
}

.lists .ordered .decimal li {
    list-style: inside decimal;
}

.lists .ordered .alpha li {
    list-style: outside lower-alpha;
}

.lists .ordered .greek li {
    list-style: lower-greek;
}

.lists .unsorted .square li {
    list-style-type: square;
}

.lists .unsorted ul {
    background-color: transparent;
}

.lists .unsorted .images li {
    list-style: url("../img/start.png");
    background-color: transparent;
}

.borders li {
    display: inline-block;
    width: 25%;
    text-align: center;
    height: 15vh;
    border: 5px black;
    padding-top: 10vh;
    font-weight: 800;
    margin: 0 2% 2% 5%;
}

.borders li:nth-child(2) {
    border: dotted;
}

.borders li:nth-child(3) {
    border: dashed;
}

.borders li:nth-child(4) {
    border: solid;
}

.borders li:nth-child(5) {
    border: double;
}

.borders li:nth-child(6) {
    border: ridge;
}

.borders li:nth-child(7) {
    border: groove;
}

.borders li:nth-child(8) {
    border: inset;
}

.borders li:nth-child(9) {
    border: outset;
}
